html{
	height:100%;
}
body{
	margin:0;
	padding:0;
	background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,1));
	/*background-image: linear-gradient(to top, blue, lightblue, violet,orange,yellow);*/
	overflow-y: hidden;
}
.container{
	/*background-color: white;*/
	position: absolute;
	width:400px;
	height:400px;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	font-family: 'lobster';
	color:#32ff7e; 
	/*#098bdb*/
	font-size: 4em;
	border-radius: 50%;
	text-shadow: 2px 2px 8px #ff0000;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 0 0 15px #ffffff;
	transition: .5s;
}
.container:hover{
	border-radius: 0;
}
.container:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#cdcdcd;
	z-index: -1;
	transform: rotate(-45deg);
	transition: .5s;
}

.container .content{
	margin:0;
	padding: 0;
	position: absolute;
	top:25%;
	box-sizing: border-box;
	/*padding: 20px;*/
	right:0;
	left: 0;
	/*transform: translateY(-50%);*/
	/*text-align: center;*/
	/*margin:0 auto;*/
	/*left:-5%;*/
}
div:hover .content{
	box-shadow: 0 0 50px rgba(0, 0,0,.5);
	/*width:100%;*/
}
