<!--{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>
    CustomerSignUp
  </title>
</head>
<body>

  {% if uname1 %}
        <script type="text/javascript">
            alert("Username already taken")
        </script>
    {% endif %}

  {% if email1 %}
        <script type="text/javascript">
            alert("Email already taken")
        </script>
    {% endif %}

  {% if pass1 %}
        <script type="text/javascript">
            alert("Passwords must match")
        </script>
    {% endif %}

  {% if email2 %}
        <script type="text/javascript">
            alert(".com not present in Email")
        </script>
    {% endif %}
  <form method="POST">{% csrf_token %}
    <label>Name:</label>
    <input type="text" name="name">
    <label>Username:</label>
    <input type="text" name="uname">
    <label>Email:</label>
    <input type="email" name="email">
    <label>Password:</label>
    <input type="Password" name="psw">
    <label>Confirm Password</label>
    <input type="Password" name="cnfpsw">
    <label>Phone-no:</label>
    <input type="tel" name="phone">
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>
</html>
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>
    SIGNUP
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

{% if uname1 %}
        <script type="text/javascript">
            alert("Username already taken")
        </script>
    {% endif %}

  {% if email1 %}
        <script type="text/javascript">
            alert("Email already taken")
        </script>
    {% endif %}

  {% if pass1 %}
        <script type="text/javascript">
            alert("Passwords must match")
        </script>
    {% endif %}

  {% if email2 %}
        <script type="text/javascript">
            alert(".com not present in Email")
        </script>
    {% endif %}


{% if gstno1 %}
        <script type="text/javascript">
            alert("GST no already exists")
        </script>
    {% endif %}


{% if aadhar1 %}
        <script type="text/javascript">
            alert("Aadhar no already exists")
        </script>
    {% endif %}

{% if category %}
        <script type="text/javascript">
            alert("Please select a category---Retailer/Customer)
        </script>
    {% endif %}


  <!-- {% if bool %} -->
        <!-- <script type="text/javascript"> -->
            <!-- alert("Wrong Credentials") -->
        <!-- </script> -->
    <!-- {% endif %} -->

<!-- The social media icon bar -->
<!--<div class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
-->
  <div class="box1 show1">
      <form method="POST">{% csrf_token %}
          <div id="portion1">
            <a onclick="myfunc1()">Customer</a>
          </div>
          <div id="portion2">
            <a onclick="myfunc2()">Retailer</a>
          </div>
          <input type="text" name="firstname" value="" placeholder="First Name" size="40%">
          <input type="text" name="lastname" value="" placeholder="Last Name" size="40%">
            <input type="email" name="email" value="" placeholder="Email Address" size="85.75%">
            <input type="text" name="phone" value="" placeholder="Contact" size="40%">
            <input type="password" name="psw" value="" placeholder="Password" size="40%">
            <input type="text" name="uname" value="" placeholder="User Name" size="85.75%">
            <input type="text" name="cnfpsw" value="" placeholder="Confirm Password" size="85.75%">
        </form>
        <label class="container">CUSTOMER
          <input type="checkbox" checked="checked" name="category" value="cust">
          <span class="checkmark"></span>
        </label>
      <button type="submit">SUBMIT</a></button>
      <br>
      I already have an account.<a href="/login">Log In</a>
  </div>
  <div class="box2 show2">
      <form method="POST">{% csrf_token %}
          <div id="portion1">
            <a onclick="myfunc1()">Customer</a>
          </div>
        <div id="portion2">
            <a onclick="myfunc2()">Retailer</a>
          </div>
          <input type="text" name="retailer_firstname" value="" placeholder="First Name" size="40%">
          <input type="text" name="retailer_lastname" value="" placeholder="Last Name" size="40%">
            <input type="email" name="retailer_email" value="" placeholder="Email Address" size="85.75%">
            <input type="text" name="retailer_phone" value="" placeholder="Contact" size="40%">
            <input type="password" name="retailer_psw" value="" placeholder="Password" size="40%">
            <input type="text" name="retailer_uname" value="" placeholder="User Name" size="85.75%">
            <input type="text" name="retailer_cnfpsw" value="" placeholder="Confirm Password" size="85.75%">
            <input type="text" name="retailer_gstno" value="" placeholder="GST Number" size="85.75%">
            <input type="text" name="retailer_address" value="" placeholder="Shop Address" size="85.75%">
            <input type="text" name="retailer_aadhar" value="" placeholder="Aadhar Number" size="85.75%">
        </form>
            <label class="container">RETAILER
              <input type="checkbox" checked="checked" name="category" value="ret">
              <span class="checkmark"></span>
            </label>
      <button type="submit">SUBMIT</a></button>
      <br>
      I already have an account.<a href="/login">Log In</a>
  </div>
  <script>
  var switch1=document.querySelector('.box1');
  var switch2=document.querySelector('.box2');
  function myfunc1(){
    switch2.classList.add('show2');
    switch1.classList.add('show1');
    }
  function myfunc2(){
    switch2.classList.remove('show2');
    switch1.classList.remove('show1');
  }
</script>
</body>
</html>
