{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/giftgallary.css' %}">
	<title>gifts</title>
</head>
<body>
<div class="header">
	<div class="img2">
	 <a href="/signup"><img src="{% static 'img/icons8-customer-40.png' %}"></a>
	</div>
	  <div class="list">
		  <li>Home</li>
		  <li>Stores</li>
		  <li>Wrapping</li>
		  <li>About</li>
		  <li>Contacts</li>
	  </div>
	<p>Gift Gallery......</p>
	<div class="img1">
	   <img src="{% static 'img/gift-box (4).png' %}">
    </div>
</div>
<div class="row">
	<div class="col-3">
		<div class="left">
			<div class="circle">
			<img class="category"src="{% static 'img/output-onlinepngtools (7).png' %}">
			</div>
        <p>Categories</p>
      <div class="Categories">

            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (1).png' %}">
               </div>
             <div class="item">
             	<p>Cakes</p>
             </div>

		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (2).png' %}">
               </div>
             <div class="item">
             	<p>Candies</p>
             </div>
		</div>
		<div class="Categories">

            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (3).png' %}">
               </div>
             <div class="item">
             	<p>Chocolates</p>
             </div>
		</div>
		<div class="Categories">

            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (4).png' %}">
               </div>
             <div class="item">
             	<p>donuts</p>
             </div>
		</div>
		<div class="Categories">

            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (5).png' %}">
               </div>
             <div class="item">
             	<p>Flowers</p>
             </div>
		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (6).png' %}">
               	</div>
             <div class="item">
             	<p>Gifts</p>
             </div>
		</div>
	</div>
	</div>
	<div class="col-6">
		<div class="right">
		</div>
	</div>
</div>
</body>
</html>