{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		CustomerSignUp
	</title>
</head>
<body>
	<form action="" method="">
		<label>Name:</label>
		<input type="text" name="name">
		<label>Username:</label>
		<input type="text" name="uname">
		<label>Email:</label>
		<input type="email" name="email">
		<label>Password:</label>
		<input type="Password" name="psw">
		<label>Confirm Password</label>
		<input type="Password" name="cnfpsw">
		<label>Phone-no:</label>
		<input type="number" name="phone">
		<button type="button">Submit</button>
	</form>
</body>
</html>