{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/giftgallary.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>gifts</title>
</head>
<body>
	<div class="loader">
		<img src="https://static1.squarespace.com/static/5344a472e4b092b8f017d821/5435b0dbe4b03e07f7965d16/563f0415e4b030455141f9aa/1556195026201/11_8---Little-Loader.gif?format=1500w">
	</div>
<div class="header">
	<div class="img2">
	 <a href="/signup">SignUp</a>
	</div>
	  <div class="list">
		  <li>Home</li>
		  <li>Stores</li>
		  <li>About</li>
		  <li>Contacts</li>
	  </div>
	<a href="/products">Gift Gallery......</a>
	<div class="img1">
	   <img src="{% static 'img/gift-box (4).png' %}">
    </div>
</div>
<div class="row">
	<div class="col-3">
		<div class="left">
			<div class="circle">
			<img class="category"src="{% static 'img/output-onlinepngtools (7).png' %}">
			</div>
        <p>Categories</p>
      <div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (1).png' %}"> 
               </div>
             <div class="item">
             	<a href="/cake">Cakes</a>
             </div>
		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (2).png' %}"> 
               </div>
             <div class="item">
             	<a href="/chocolate">Chocolates</a>
             </div>
		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (3).png' %}"> 
               </div>
             <div class="item">
             	<a href="/watch">Watches</a>
             </div>
		</div>

		<div class="Categories">
          
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (4).png' %}"> 
               </div>
             <div class="item">
             	<a href="/bouquet">Bouquets</a>
             </div>
		</div>
		<div class="Categories">
          
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (5).png' %}"> 
               </div>
             <div class="item">
             	<a href="/card">Cards</a>
             </div>
		</div>
<!-- 		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (6).png' %}"> 
               	</div>
             <div class="item">
             	<p>Gifts</p>
             </div>
		</div> -->
	</div>
	</div>
	<div class="col-6">
		<div class="right">
			<div class="cakes"><h1>Cakes</h1>
				{% for obj in cake %}
				<div class=items>
					<a href="/cake/{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<h3>{{obj.flavour}}</h3>
					<p>Rs.{{obj.price}}</p>
					<!-- <p>{{obj.description}}</p> -->
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/cake">View More</a>
			</div>
			<div class="chocolates"><h1>Chocolates</h1>
				{% for obj in chocolate %}
				<div class=items>
					<a href="/chocolate/{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<!-- <h3>{{obj.description}}</h3> -->
					<p>Rs.{{obj.price}}</p>
					<p>{{obj.chocolate_id}}</p>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://cimages.prvd.com/is/image/ProvideCommerce/GFB_17_SCH2406_W1_SQ?$SSSProductImage$&$burst1=GF_13_Assets_Burst_KosherSymbolBlackLowLeft_SQ" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cimages.prvd.com/is/image/ProvideCommerce/GFB_17_SCH2406_W1_SQ?$SSSProductImage$&$burst1=GF_13_Assets_Burst_KosherSymbolBlackLowLeft_SQ" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cimages.prvd.com/is/image/ProvideCommerce/GFB_17_SCH2406_W1_SQ?$SSSProductImage$&$burst1=GF_13_Assets_Burst_KosherSymbolBlackLowLeft_SQ" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cimages.prvd.com/is/image/ProvideCommerce/GFB_17_SCH2406_W1_SQ?$SSSProductImage$&$burst1=GF_13_Assets_Burst_KosherSymbolBlackLowLeft_SQ" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/chocolate">View More</a>
			</div>
			<div class="watches"><h1>Watches</h1>
				{% for obj in watch %}
				<div class=items>
					<a href="/watch/{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<!-- <h3>{{obj.description}}</h3> -->
					<p>Rs.{{obj.price}}</p>
					<p>{{obj.brand}}</p>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://images-eu.ssl-images-amazon.com/images/I/41ViFN5nmqL._AC_UL260_SR200,260_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-eu.ssl-images-amazon.com/images/I/41ViFN5nmqL._AC_UL260_SR200,260_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-eu.ssl-images-amazon.com/images/I/41ViFN5nmqL._AC_UL260_SR200,260_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-eu.ssl-images-amazon.com/images/I/41ViFN5nmqL._AC_UL260_SR200,260_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/watch">View More</a>
			</div>
			<div class="bouquets"><h1>Bouquets</h1>
				{% for obj in bouquet %}
				<div class=items>
					<a href="/bouquet/{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<!-- <h3>{{obj.description}}</h3> -->
					<p>Rs.{{obj.price}}</p>
					<p>{{obj.bouquet_id}}</p>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://images-na.ssl-images-amazon.com/images/I/81NAz%2BDR%2BwL._SL1500_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-na.ssl-images-amazon.com/images/I/81NAz%2BDR%2BwL._SL1500_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-na.ssl-images-amazon.com/images/I/81NAz%2BDR%2BwL._SL1500_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://images-na.ssl-images-amazon.com/images/I/81NAz%2BDR%2BwL._SL1500_.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/bouquet">View More</a>
			</div>
			<div class="cards"><h1>Cards</h1>
				{% for obj in card %}
				<div class=items>
					<a href="/card/{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<!-- <h3>{{obj.description}}</h3> -->
					<p>{{obj.card_id}}</p>
					<p>Rs.{{obj.price}}</p>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://paperlust.co/uploads/design/1586/thum_/UnsereBlueme-thankyou-white-landscape-107mmx140mm.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://paperlust.co/uploads/design/1586/thum_/UnsereBlueme-thankyou-white-landscape-107mmx140mm.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://paperlust.co/uploads/design/1586/thum_/UnsereBlueme-thankyou-white-landscape-107mmx140mm.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://paperlust.co/uploads/design/1586/thum_/UnsereBlueme-thankyou-white-landscape-107mmx140mm.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/card">View More</a>
			</div>
		</div>
	</div>
</div>
<script>
 // window.addEventListener("load",function(){
 // 	const loader=document.querySelector(".loader");
 // 	loader.className+=" hidden";
 // });
 setInterval(function(){
 	const loader=document.querySelector(".loader");
 	loader.className+=" hidden";
 },3000);
</script>
</body>
</html>