{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/giftgallary.css' %}">
	<title>gifts</title>
</head>
<body>
	<div class="loader">
		<img src="https://static1.squarespace.com/static/5344a472e4b092b8f017d821/5435b0dbe4b03e07f7965d16/563f0415e4b030455141f9aa/1556195026201/11_8---Little-Loader.gif?format=1500w">
	</div>
<div class="header">
	<div class="img2">
	 <a href="/signup"><span class="signup">SignUp<img src="{% static 'img/icons8-customer-40.png' %}"></span></a>
	</div>
	  <div class="list">
		  <li>Home</li>
		  <li>Stores</li>
		  <li>About</li>
		  <li>Contacts</li>
	  </div>
	<p><a href="/products">Gift Gallery......</a></p>
	<div class="img1">
	   <img src="{% static 'img/gift-box (4).png' %}">
    </div>
</div>
<div class="row">
	<div class="col-3">
		<div class="left">
			<div class="circle">
			<img class="category"src="{% static 'img/output-onlinepngtools (7).png' %}">
			</div>
        <p>Categories</p>
      <div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (1).png' %}"> 
               </div>
             <div class="item">
             	<p><a href="/cake">Cakes</a></p>
             </div>
		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (2).png' %}"> 
               </div>
             <div class="item">
             	<p><a href="/chocolate">Chocolates</a></p>
             </div>
		</div>
		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (3).png' %}"> 
               </div>
             <div class="item">
             	<p><a href="/watch">Watches</a></p>
             </div>
		</div>

		<div class="Categories">
          
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (4).png' %}"> 
               </div>
             <div class="item">
             	<p><a href="/bouquet">Bouquets</a></p>
             </div>
		</div>
		<div class="Categories">
          
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (5).png' %}"> 
               </div>
             <div class="item">
             	<p><a href="/card">Cards</a></p>
             </div>
		</div>
<!-- 		<div class="Categories">
            	<div class="circle1">
                	<img src="{% static 'img/output-onlinepngtools (6).png' %}"> 
               	</div>
             <div class="item">
             	<p>Gifts</p>
             </div>
		</div> -->
	</div>
	</div>
	<div class="col-6">
		<div class="right">
			<div class="bouquets"><h1>Bouquets</h1>
				{% for obj in object_list %}
				<div class=items>
					<a href="{{obj.pk}}"><img src='/media/{{obj.image}}' width="100%"/></a>
					<h3>{{obj.description}}</h3>
					<p>{{obj.price}}</p>
					<p>{{obj.bouquet_id}}</p>
				</div>
				{% endfor %}
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<!--<div class=items>-->
					<!--<img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-chocolate-gems-cake-1-kg&#45;&#45;33890-m.jpg" width="100%">-->
					<!--<h3>Vanilla Blast</h3>-->
					<!--<p>Rs.100</p>-->
					<!--<p>Rating-5</p>-->
				<!--</div>-->
				<a href="/indicake">View More</a>
			</div>
			</div>
		</div>
	</div>
<script>
 // window.addEventListener("load",function(){
 // 	const loader=document.querySelector(".loader");
 // 	loader.className+=" hidden";
 // });
 setInterval(function(){
 	const loader=document.querySelector(".loader");
 	loader.className+=" hidden";
 },3000);
</script>
</body>
</html>